/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scrollbar-width: none;
}

/* SHARED */

/* BODY */

/* HEADER */

header {
    background-image: url(../img/wall.png);
}

/* MAIN */

#my-main {
    width: 100%;
}

#card-container {
    width: 60%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.border-card {
    background-color: white;
}

img {
    width: 100%;
}

p {
    max-height: 20%;
}

/* FOOTER */

/* COLORS */

#my-body {
    background-image: url(../img/cork.png);
}

.card {
    padding: 10px;
}
/* COLORS/DECORATIONS - HOVER */

/* MEDIA - TABLET */
@media (min-width: 768px) {
    .card {
        width: 50%;
    }
}

/* MEDIA - COMPUTER */
@media (min-width: 1024px) {
    .card {
        width: calc(100% / 3);
    }
}

/* MEDIA - INFINITE */